* {
	font-family: 'Helvetica';
	box-sizing: border-box;
}

.container {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 120px;
}

nav {
	height: 75px;
	width: 100%;
	background-color: #DCDCDC;
	position: fixed;
}


nav header {
	float: left;
	font-size: 18px;
	margin-bottom: auto;
}

nav ul {
	display: inline-block;
	list-style: none;
	float: right;
	margin-right: 150px;
	font-size: 14px;
}

nav li {
	display: inline-block;
}

nav a:hover {
	color: purple;
}


.search-box {
 	width: 200px;
 	border: 1px solid lightgrey;
 }

 img {
 	width: 35px;
 	height: 35px;
 	border: 1px solid lightgrey;
 }

/*section {
	font-size: 0;
}*/

.box {
	text-align: center;
	display: inline-block;
	height: 40px;
}

.box1 {
	border: 1px solid lightgrey;
	padding: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

.box2 {
	border: 1px solid lightgrey;
	padding: 5px;
}

.box3 {
	border: 1px solid lightgrey;
	padding: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul .results {
	list-style: none;
}